.header-main {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
}
ul li,
a {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  color: beige;
}
.cont {
  width: 800px;
  text-align: center;
}
